:root {
    --help-text: rgba(34, 34, 34, 0.5);
}

.feed {
    margin: 32px auto;
    width: 474px;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.post__header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.post__user {
    display: flex;
    align-items: center;
}

.post__avatar {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 6px;
}

.post__username {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.post__edit {
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: opacity 150ms linear;
}

.post__content {
    position: relative;
    max-height: 474px;
    max-width: 474px;
}

.post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__image-count {
    position: absolute;
    width: 44px;
    height: 24px;
    right: 20px;
    top: 16px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
}

.post__like {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 6px 12px;
    min-width: 68px;
    border-radius: 8px;
    height: 30px;
    width: 78px;
    margin-top: 16px;
    box-sizing: border-box;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    background-color: rgba(34, 34, 34, 0.05);
}

.post__like-icon {
    margin-right: 10px;
}

.post__text {
    max-height: 40px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    margin: 16px 0 0;
}

.post__more {
    color: var(--help-text);
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 6px;
}

.post__time {
    color: var(--help-text);
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0 0;
}
