:root {
    --help-text: rgba(34, 34, 34, 0.5);
}

.feed {
    margin: 32px auto;
    width: 474px;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.post__header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.post__user {
    display: flex;
    align-items: center;
}

.post__avatar {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 6px;
}

.post__username {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.post__edit {
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: opacity 150ms linear;
}

.post__content {
    position: relative;
    max-height: 474px;
    max-width: 474px;
}

.post__slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.post__slide {
    display: none;
    width: 100%;
}

.post__slide--active {
    display: block;
}

.post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__slider-controls {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
}

.post__slider-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.post__slider-arrow {
    pointer-events: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12.95px);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__slider-arrow--active {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12.95px);
    cursor: pointer;
}

.post__slider-arrow img {
    width: 10px;
    height: 10px;
}

.post__slider-counter {
    position: absolute;
    right: 20px;
    top: 16px;
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 15px;
}

.post__like {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 6px 12px;
    min-width: 68px;
    border-radius: 8px;
    height: 30px;
    width: 78px;
    margin-top: 16px;
    box-sizing: border-box;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    background-color: rgba(34, 34, 34, 0.05);
}

.post__like-icon {
    margin-right: 10px;
}

.post__text {
    max-height: 40px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    margin: 16px 0 0;
}

.post__more {
    color: var(--help-text);
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 6px;
}

.post__time {
    color: var(--help-text);
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0 0;
}
